#sideBar {
	-fx-background-color: ffffff
}

#usernameBox {
	-fx-background-color: ff3000
}

#logo {
	-fx-image: url("logo0.png")
}

.radio-button .radio {
	-fx-background-color: transparent 
}

.radio-button .dot {
	-fx-background-color: transparent 
}

.radio-button {
	-fx-background-color: ffffff;
	-fx-text-fill: ff3000
}

.radio-button .glyph-icon {
	-fx-fill: ff3000
}

.radio-button:hover {
	-fx-background-color: e8e8e8
}

.radio-button:selected {
	-fx-background-color: e02c04;
	-fx-text-fill: ffffff;
}

.radio-button:selected .glyph-icon {
	-fx-fill: ffffff
}

.jfx-check-box {
	-jfx-checked-color: ff3000;
}

#sendEmail {
	-fx-background-color: ff3000;
}

#respondEmail {
	-fx-background-color: ff3000;
}

#twitterPostOptions {
	-fx-background-color: ff3000;
}

.titled-pane .title {
	-fx-background-color: ffffff;
	-fx-border-color: e8e8e8
}

#filterMenu > .title {
	-fx-border-color: ffffff
}

.titled-pane .content {
	-fx-background-color: ffffff;
	-fx-border-color: ffffff
}